    a:link,a:visited  {
    text-decoration:none;
    color: black;
  }
  a:hover {
    color: red;
  }
  a:active {
    color: blue;
  }


input[type=submit]{
background-color: #3770aa;
  border: none;
  color: white;
  padding: 7px 15px;
  text-decoration: none;
  cursor: pointer;
}